{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="icon" href="{% static 'assets/img/logoPrincipalSinBG.png' %}" style="height: 8px;width: 12px;">
    {% block title %}

    {% endblock %}


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
        .hello-msg {
            font-size: 15px;
            color: #fff;
            margin-right: 18px;
        }

    </style>
</head>
<body>

<nav class="navbar navbar-dark navbar-expand-md navigation-clean-search" style="background-color: #1c2c3b">

    <div class="container">

        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'assets/img/logo_limpio_sin_bg.png' %}" style="height: 36px;width: 46px;">
        </a>


        <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span
                class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse"
             id="navcol-1">
            <ul class="nav navbar-nav mr-auto">
                {% with request.resolver_match.url_name as url_name %}

                    <li class="nav-item" role="presentation"></li>

                    <li class="nav-item dropdown {% if url_name == 'inspecciones' %}active{% endif %}">

                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Inspecciones
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'lista_inspecciones' %}">Inspecciones</a>
                            <a class="dropdown-item" href="{% url 'estadisticas' %}">Estadisticas</a>

                        </div>
                    </li>

                {% endwith %}
            </ul>
            <form class="form-inline mr-auto" target="_self">
                <div class="form-group"><label for="search-field"></label></div>
            </form>
            <span class="hello-msg">Hola, {{ request.user }}</span>

            <span><a class="btn btn-info action-button" href="{% url 'logout' %}">Cerrar</a></span>

        </div>
    </div>
</nav>
{% block content %}

{% endblock %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-chained/2.0.0-beta.2/jquery.chained.min.js"
        integrity="sha512-LqPUk4tB3k310Q/6tKN5BW1WOEBRJULvUsOC9nCbRVWQaJ9BWlQ/wPPWuZ8YJxD5S4DdlK6kWl25+YeqV7cLCQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% block funciones %}

{% endblock %}
</body>
</html>